/* banner */

.banner{
    background-image: url(../images/banner/banner3.png);
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    height: 620px;
    width: 100%;

}
.banner-contant{
    text-align: right;
    padding-top: 50px;
    padding-right: 50px;
}
h1{
    color: white;
    font-size: 80px;
}
.banner p{
    color: wheat;
    font-size: 20px;
}
.btn-primary{
    color: rgb(51, 51, 245);
    background-color: rgb(247, 247, 247);
    font-size: 18px;
    width: 130px;
    height: 45px;
    border-style: none;
    border-radius: 5px;
    margin-top: 20px;
}
.btn-primary:hover {
    background: #2196F3;
    color: white;
  }

/* banner end */

/* My failures section start */
main{
    padding-left: 15px;
    padding-right: 15px;
}
.failures-sec{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    gap: 20px;
    width: 100%;
    height: 700px;
}
.person-img{
    height: 100%;
    width: 50%;
    margin-left: 50px;
}
.failures-content{
    font-size: 18px;
    color: rgb(59, 58, 58);
    height: 700px;
    width: 450px;
    margin-top: 80px;
    margin-right: 80px;
    text-align: left;
}
.failures-sec h2{
    text-align: left;
    color: black;
    font-size: 50px;
}
li{
    color: rgb(37, 37, 37);
    list-style-type: square;
}

/* My failures section end */

/* My plans start */
.my-plans{
    padding-bottom: 20px;
}
.my-plans h2{
    text-align: center;
    color: black;
    font-size: 50px;
}
.plans{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 20px;
}
.plans h3{
    font-size: 25px;
}
.plans p{
    font-size: 17px;
    color: slategray;
}
/* My plans end */


/* always keep start */
.always-keep{
    background-image: url(../images/watch.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 258px;
    border-radius: 5px;
    margin: auto;
    width: 65%;
}
.always-keep-container{
    text-align: left;
    height: 258px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(68, 71, 248) 20%,
    rgba(13, 0, 194, 0.342) 40%,
    rgba(67, 53, 255, 0.363) 60%,
    rgba(0,0,0,0));
     background-position: center;
}
.always-keep-container h2{
    font-size: 40px;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
}
#btn-primary{
    margin-left: 20px;
}

/* always keep end */

/* strategy start */
.strategy{
    padding-top: 30px;
    padding-bottom: 30px;
}
.strategy-development{
    text-align: center;
}
.strategy-development h1{
    font-size: 45px;
    color: rgb(85, 13, 153);
}
.strategy-div{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 50px;
    padding-left: 30px;
}
.strategy-content{
    text-align: center;
    border-radius: 2px;
    background-color:rgb(244, 222, 247);
    padding: 20px;
    width: 600px;
}
.strategy-content-2{
    text-align: center;
    border-radius: 2px;
    background-color: rgb(217, 250, 242);
    padding: 20px;
    width: 600px;
}
.strategy-content-3{
    text-align: center;
    border-radius: 2px;
    background-color: papayawhip;
    padding: 20px;
    width: 600px;
}
/* strategy end */

/* footer start  */
footer{
    background-color: black;
    height: 400px;
    width: 100%;
    margin-top: 50px;
}
.future-section{
    display: flex;
    justify-content: space-evenly;
}
.future-content{
    color: aliceblue;
}
h2{
    color: white;
    font-size: 40px;
}
.future-content p{
    font-size: 18px;
}
.icons{
    gap: 15px;
}
fieldset{
    color: white;
    text-align: center;
    border-radius: 3px;
}
.btn{
    color: rgb(247, 247, 247);
    background-color: rgb(51, 51, 245);
    font-size: 18px;
    width: 130px;
    height: 45px;
    border-style: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
}
.btn:hover {
    background: #2196F3;
    color: white;
}